@model Catalogo.Models.Item
@section Styles {
    <link rel="stylesheet" href="~/css/detalle.css" asp-append-version="true" />
}
<div class="container detalle-container module-reveal">
    <div class="platillo-wrapper shadow-lg">
        
        
        <div class="platillo-visual">
            <span>🌮</span>
        </div>

        
        <div class="platillo-info">
            <header class="platillo-info-header">
                <span class="tag-categoria">@Model.Categoria</span>
                <h1 class="titulo-premium">@Model.Platillo</h1>
                <span class="precio-premium">$@Model.Precio</span>
            </header>

            <p class="descripcion-premium">
                "@Model.Descripcion"
            </p>

            <div class="ficha-tecnica">
                <div class="ficha-item">
                    <label>Ingredientes</label>
                    <span>@Model.Ingredientes</span>
                </div>
                <div class="ficha-item">
                    <label>Origen</label>
                    <span>San Pedro Uxmal</span>
                </div>
            </div>

            <a asp-action="Index" class="btn-regresar-yerba">
                Volver al Menú
            </a>
        </div>
    </div>
</div>